---
import { getImage, Image, Picture } from "astro:assets";

export interface ProjectCardsProps {
  logo: ImageMetadata;
  projectTitle: string;
  projectShortDesc: string;
  image?: ImageMetadata;
  backgroundImage: ImageMetadata;
  longDesc: string;
  playStoreUrl?: string;
  appStoreUrl?: string;
  webUrl?: string;
  githubUrl?: string;
  coomingSoon?: boolean;
}

const {
  backgroundImage,
  image,
  projectTitle,
  projectShortDesc,
  logo,
  longDesc,
  playStoreUrl,
  appStoreUrl,
  githubUrl,
  coomingSoon,
} = Astro.props;

const optmiizedLogo = await getImage({
  src: logo,
  format: "webp",
});
---

<section
  class="relative !z-50 max-w-6xl mx-10 md:mx-auto px-4 sm:px-6 rounded-lg md:h-96 h-96 mb-10 overflow-hidden bg-cover "
  style={`background-image: url(${backgroundImage.src}); `}
>
  </div>
  <div class="group h-full flex md:flex-col flex-row items-center md:items-stretch justify-center">
    <div class="flex group-hover:opacity-20 transition-all overflow-hidden">
      <div
        class="relative flex md:space-x-4 items-center flex-col md:flex-row justify-between md:justify-start w-full md:w-2/3 overflow-hidden"
      >
        <Picture
          src={optmiizedLogo.src}
          alt="Project Logo"
          width={100}
          height={100}
          class="md:w-28 w-16"
          loading={"eager"}
        />
        <div class="space-y-2 w-3/4 text-center md:text-left">
          <h1 class="md:text-5xl text-4xl font-bold">{projectTitle}</h1>
          <h2 class="md:text-lg">{projectShortDesc}</h2>
        </div>
      </div>
      {
        image && (
          <Image
            src={image}
            alt="Project Mock"
            class="md:w-96 hidden md:block"
            loading={"eager"}
          />
        )
      }
    </div>

    <div class="absolute bottom-0">
      <div class="max-w-6xl mx-auto md:px-4 sm:px-6">
        {/* Hidden content */}
        <div
          class="transition-all transform
                                  translate-y-8 opacity-0
                                  group-hover:opacity-100
                                  group-hover:-translate-y-10"
        >
          <div class="md:p-2 space-y-4">
            <p>{longDesc}</p>
            <div class="flex space-x-4">
              {
                coomingSoon && (
                  <span class="inline-flex h-full animate-background-shine items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-3 py-1 text-xs font-medium text-gray-300">
                    Cooming Soon
                  </span>
                )
              }

              {
                playStoreUrl && (
                  <a href={playStoreUrl} target="_blank">
                    <Image
                      src="/playStore.png"
                      alt="Project Logo"
                      width={100}
                      height={100}
                      class="w-8"
                      loading={"eager"}
                    />
                  </a>
                )
              }

              {
                appStoreUrl && (
                  <a href={appStoreUrl} target="_blank">
                    <Image
                      src="/appStore.png"
                      alt="Project Logo"
                      width={100}
                      height={100}
                      class="w-8"
                      loading={"eager"}
                    />
                  </a>
                )
              }

              {
                githubUrl && (
                  <a href={githubUrl} target="_blank">
                    <Image
                      src="/github.png"
                      alt="Project Logo"
                      width={100}
                      height={100}
                      class="w-8"
                      loading={"eager"}
                    />
                  </a>
                )
              }
            </div>
          </div>
        </div>
        {/* End of hidden content */}
      </div>
    </div>
  </div>
</section>
